apiVersion: 1

datasources:
  - name: PostgreSQL
    isDefault: true
    type: postgres
    url: 172.30.0.1:5432
    database: signalk
    user: grafana
    secureJsonData:
      password: '${PGSAIL_GRAFANA_PASSWORD}'
    jsonData:
      sslmode: 'disable' # disable/require/verify-ca/verify-full
      maxOpenConns: 10 # Grafana v5.4+
      maxIdleConns: 2 # Grafana v5.4+
      connMaxLifetime: 14400 # Grafana v5.4+
      postgresVersion: 1400 # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
      timescaledb: true
