name: Lint database schema.

on:
  pull_request:
    paths:
      - 'initdb/**'
    branches:
      - 'main'
  push:
    branches:
      - 'main'
    paths:
      - 'initdb/**'
    tags:
        - "*"
  workflow_dispatch:

jobs:
  schemalint:
    name: lint database schema
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source
        uses: actions/checkout@v6

      - name: Set env
        run: cp .env.example .env

      - name: Pull Docker images
        run: docker compose pull db api

      - name: Run PostgSail Database
        # Environment variables
        env:
          # The hostname used to communicate with the PostgreSQL service container
          PGHOST: localhost
          PGPORT: 5432
          PGDATABASE: signalk
          PGUSER: username
          PGPASSWORD: password
          PGSAIL_DB_URI: postgres://username:password@localhost:5432/signalk
        run: |
          set -eu
          source .env
          docker compose stop || true
          docker compose rm || true
          docker compose up -d db && sleep 15
          docker compose up migrate
          docker compose ps -a

      - name: Lint database
        # Environment variables
        env:
          PGSAIL_DB_URI: postgres://username:password@localhost:5432/signalk
        run: |
          npm install -g schemalint || exit 1
          npx schemalint -c schemalintConfig.js
          source <(curl -sL https://raw.githubusercontent.com/k1LoW/tbls/main/use)
          tbls lint -c tblsConfig.yml
          echo "Test PostgSail lint"
          #docker compose -f docker-compose.dev.yml -f docker-compose.yml up docs

      - name: Show the logs
        if: always()
        run: |
          docker compose logs